<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="MinhaConexao" connectionString="Data Source= bruno-dev.coswwudtnlbd.us-east-2.rds.amazonaws.com; port=3306; Initial Catalog =PingProTools;User=brunog;password=98497389b;SslMode=none;" />
  </connectionStrings>
  <appSettings>
    <add key="username" value=""/>
  
    <add key ="servidor" value=""/>
    <add key ="bancodedados" value =""/>
    <add key ="porta" value =""/>

    <add key ="servidor2" value=""/>
    <add key ="bancodedados2" value =""/>
    <add key ="porta2" value =""/>

    <add key ="servidor3" value=""/>
    <add key ="bancodedados3" value =""/>
    <add key ="porta3" value =""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>