<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ping_Pro_Tools.Properties.Settings.PingProToolsConnectionString"
            connectionString="server=bruno-dev.coswwudtnlbd.us-east-2.rds.amazonaws.com;user id=brunog;database=PingProTools;allowuservariables=True;password=98497389b;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>